/* regole generali */
.sfondo_blu_sfumato {
  background: rgb(0,21,105);
  background: linear-gradient(0deg, rgba(0,21,105,1) 0%, rgba(0,30,153,1) 35%, rgba(0,72,197,1) 100%);
  padding: 50px 0;
}
/* selettore cerchiato immagine carosello */
.carousel-indicators .active {
  background-color: blue;
}
.carousel-indicators li {
  border: 1px solid black;
}
h2 {
  text-align: center;
}
/* regole selettive */
/* nav */
.navbar-default {
  background-color: white;
  border: none;
}
#img_nav {
  width: 160px;
  margin-right: 10px;
  line-height: 45px;
}
nav img {
  max-width: 100%;
}
nav .navbar {
  margin-top: 20px;
}
.nav > li > a {
  padding: 15px 6px;
}

/* header jumbotron */
header > .row {
  background-image: url(../img/sfondo-home.jpg);
  background-size: contain;
  padding: 50px 0;
}
header > .row > div > div:first-child h1 {
  color: white;
  font-size: 57px;
}
header > .row > div > div:first-child p {
  color: lightgray;
  font-size: 20px;
}
header h2 {
  font-size: 25px;
}
/* bottoni input */
.btn {
  display: block;
  width: 100%;
}
#padre_logog {
  position: relative;
}
#logo_g {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
  height: 20px;
}
#bottone_blu {
  background-color: #579aff;
  color: white;
}
.sfondo_bianco {
  background-color: white;
  border-radius: 6px;
}
.form-horizontal p {
  text-align: center;
  padding-top: 80px;
}

/* main */
/* prima sezione */
.sfondo_grigio {
  background-color: #F3F5F9;
  padding: 50px 0;
  text-align: center;
}
.sfondo_grigio img {
  /* width: 100%; */
}

/* seconda sezione */
section ul {
  list-style: none;
}
section:nth-child(2) .row {
  padding: 40px 0;
}
section:nth-child(2) > .row > div > div:first-child {
  text-align: center;
  padding-bottom: 50px;
}
/* lista con linea */
.left_sx {
  height: 40px;
  line-height: 40px;
  width: calc(100% - 2px);
  float: left;
  padding-left: 10px;
}
.linea_grigia {
  width: 1px;
  height: 40px;
  float: left;
  background-color: lightgray;
}
.contenitore_linea {
  content: "";
  display: table;
  clear: both;
}
.contenitore_linea:hover .linea_grigia {
  background-color: #016AFF;
}
/* fine lista con linea */

/* terza sezione */
section:nth-child(3) .row > div div:first-child {
  padding-bottom: 50px;
}
section:nth-child(3) .row > div div:nth-child(3) {
  padding-top: 20px;
}

/* quarta sezione */
section:nth-child(4) h2 {
  padding-bottom: 25px;
}
section:nth-child(4) {
  padding: 40px 0;
}

/* quinta sezione */
section:nth-child(5) * {
  color: white;
}

/* sesta sezione */
section:nth-child(6) h2 {
  padding-bottom: 60px;
}
section:nth-child(6) img {
  min-width: 400px;
}
section:nth-child(6) .carousel-caption {
  font-size: 25px;
  color: gray;
  right: 3%;
  left: 3%;
  padding-bottom: 75px;
}
section:nth-child(6) .carousel-control.left, section:nth-child(6) .carousel-control.right {
  background-image: none;
}

/* settima sezione */
section:nth-child(7) h2 {
  color: white;
}
section:nth-child(7) .btn {
  text-align: center;
  display: inline-block;
  width: auto;
  margin: 15px 0;
}

/* footer */
footer > .row {
  background-color: #031c4e;
  padding: 50px 0;
  color: white;
}
footer > .row ul {
  list-style: none;
  line-height: 26px;
}
footer > .row ul li a {
  color: lightgray;
}
footer img {
  padding-bottom: 20px;
}
#dz_social i {
  padding-right: 8px;
}
